<!DOCTYPE html>
<html>
<head>
  <title>omniauth-rails-app</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1><a href="http://github.com/jamiew/omniauth-rails-app">omniauth-rails-app</a></h1>

<p>For more information see the <a href="http://github.com/jamiew/omniauth-rails-app#README">README</a></p>

<%= yield %>

</body>
</html>
