<!DOCTYPE html>
<html>
<head>
  <title>omniauth-rails-app</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>omniauth-rails-app</h1>

<%= yield %>

</body>
</html>
